# SERVER CONFIG
PORT=0000
NODE_ENV=development

# DATABASE CONFIG
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha
DB_DATABASE=seu_banco_de_dados
DB_LOGGING=true
DB_SYNCHRONIZE=true

# SECURITY & AUTH
JWT_SECRET=mudar_isso_em_producao_123aeiou
JWT_EXPIRES_IN=1d